li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }


  body {
    background-image: url("../img/burger.jpg");
    background-size: 200px 200px;
  }
  button {
    color: red;

  }
  button:hover {
    background: aqua;
    color: blue;
  }

  h1 {
    font-family: 'Oleo Script', cursive;
    color: white;
    background-color: red;
  }
  h2, label{
    color: white;
    background-color: orange;
  }